body {
    font-family: 'Lato', sans-serif;
}

/* --- trucs de base --- */
a {
    color: green;
    text-decoration: underline;
}
a:hover {
    color: green;
    text-decoration: none;
    font-weight: 700;
}

/* --- virer les margin et padding des col-* --- */
[class*='col-'] {margin: 0;padding: 0;}

/* --- header - h1 - nav --- */
header {
    display: flex;
    position: relative;
    justify-content: flex-end;
    background-color: #000;
    height: 50px;
    line-height: 50px;
}

h1 {
    position: absolute;
    left: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 50px;
}

.search-case {
    float: right;
    background-color: green;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.toogle {
    float: right;
    width: 50px;
    height: 50px;
    padding: 18px 0 0 0;
    background-color: #000;
}
span.toogle-element {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto 4px auto;
}

nav {
    height: 50px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

/* --- LE BLOC AUDIOTHEME FRAMEWORK DEMO + ASIDE RIGHT --- */
.c-white {
    background-color: #fff;
}

.audiotheme {
    padding: 80px 120px;
}
.audiotheme h2 {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 40px 0;
}
.audiotheme p {
    font-size: 16px;
    margin: 30px 0 30px 0;
}
/* --- aside droit --- */
.aside-right {
    padding: 80px 30px;
}
.aside-right table {
    width: 100%;
}
/* table */
.aside-right tr {
    display: block;
    width: auto;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e1e1e1;
}
.aside-right tr:last-child {
    border: 0;
    margin-bottom: 60px;
}
.aside-right td a {
    text-decoration: none;
}
.aside-right td {
    display: block;
    color: #999;
}
.aside-right td.lieu {
    font-style: italic;
}
/* h2 + p */
.aside-right h2 {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 25px 0;
    font-weight: 900;
    border-top: 4px solid #000;
}
.aside-right h2 i {
    position: relative;
    top: -2px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin: 0 10px 0 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    line-height: 30px;
}
.aside-right p {
    font-size: 12px;
    color: #999;
    padding: 5px 0 30px 0;
    font-style: italic;
    line-height: 20px;
    border-bottom: 1px solid  #e1e1e1;
}
.aside-right a {
    text-decoration: none;
}


/* --- fond du second container --- */
.second-container {
    
}

/* --- couleurs pour tester le positionnement des blocs --- */
.featured-section {
    min-height: 260px;
    background-color: #654;
}

.aside-left {
    min-height: 960px;
    
    background-color: #984;
}

.audiotheme {
    min-height: 700px;
}

footer {
    background-color: #000;
    height: 50px;
}