/* --- trucs de base --- */
a {
    color: #fff;
}
a:hover {
    color: green;
    text-decoration: none;
    font-weight: 700;
}

/* --- virer les margin et padding des col-* --- */
[class*='col-'] {margin: 0;padding: 0;}

/* --- header - h1 - nav --- */
header {
    display: flex;
    position: relative;
    justify-content: flex-end;
    background-color: #000;
    height: 50px;
    line-height: 50px;
}

h1 {
    position: absolute;
    left: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 50px;
}

.search-case {
    float: right;
    background-color: green;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.toogle {
    float: right;
    width: 50px;
    height: 50px;
    padding: 18px 0 0 0;
    background-color: #000;
}
span.toogle-element {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto 4px auto;
}

nav {
    height: 50px;
}

nav ul li a {
    text-transform: uppercase;
    color: #fff;
}

/* --- fond du second container --- */
.second-container {
    background-color: #684;
}

/* --- couleurs pour tester le positionnement des blocs --- */
.featured-section {
    min-height: 260px;
    background-color: #654;
}

.aside-left {
    min-height: 960px;
    
    background-color: #984;
}

.aside-right {
    height: 700px;
    background-color: #324;
    color: #fff;
}

.audiotheme {
    min-height: 700px;
}

footer {
    background-color: #000;
    height: 50px;
}